body {
  margin: 0;
  padding: 0;  
  color: rgb(35, 52, 78);
  font-weight: 200;
}

a{
    text-decoration: none;
    color: rgb(113, 44, 122);
    font-weight: bold;
    font-size: 1.5rem;
    transition: trnsform 0.3s ease, color 0.3s ease-in-out;
    display: inline-block;
    }

    a:hover {
      color: rgb(82, 82, 117);
      transform: scale(1.1);
    }

nav {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgb(105, 129, 226);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}

main {
  padding-top: 65px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: rgb(92, 77, 160);
}

article {
  p,a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  }
  p {
    font-size: 1.2rem;
  }

}


#modelo {
  display: flex;
  figure {
    img {
      margin: 10px;
      padding: 10px;
      border: black 2px solid;
      border-radius: 25px;
      width: 120px;
      height: auto;
    }
  }

  
}

footer {
  background-color: rgba(118, 219, 236, 0.438);
  border: 2px, solid, black;
  color: black;
  padding: 50px;
  
  textarea.inputs {
    
    height: 5em;
    width: 50%;
    font-family: inherit;
    
  }

  h2{
    transition: transform 0.5s ease, transform 0.5s ease-in-out;
  }
  h2:hover {
   
    transform: scale(1.1);
  }
  
  .inputs {
    margin: 15px;
    height: 30px;
    width: 80%;
  }
  .inputs:hover {
    border: black 2px solid;
    box-shadow:  2px 2px 5px rgb(7, 0, 0), inset  -2px -2px 5px rgb(75, 64, 228);

  }

  #inputbuttom {
    margin: 15px;
    height: 30px;
    background-color: rgba(14, 26, 133, 0.325);
    cursor: pointer;
    width: 10%;
    font-weight: bold;
    font-size: 1.2 rem;
  }
  #inputbuttom:hover {
    border: black 2px solid;
    box-shadow: inset  2px 2px 5px rgb(7, 0, 0), inset  -2px -2px 5px rgb(75, 64, 228);
    transform: scale(1.05);
    filter: brightness(1.3);
  }

  .inputs:focus:invalid {
    background-color: rgb(214, 91, 91);
  }

  .inputs:focus:valid {
    background-color: rgb(134, 236, 144);
}
}

#opciones {
  background-color: rgb(213, 236, 230);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   width: 90%;
   padding: 20px;
   flex-direction: row;
    gap:  10px;
    list-style: inside;
      list-style-type: decimal;
  figure {
    img {
      
      background-color: rgb(123, 179, 162);
      margin: 10px;
      padding: 10px;
      width: 200px;
      height: auto;
      border: black 3px solid;
      border-radius: 35px;
      
    }
  }
 
  img {
    margin: 10px;
    width: 40px;
    height: auto;
    cursor: pointer;
  }
}

#home {
display: grid;
grid-template-columns: 4fr 4fr;
grid-template-rows: 4fr 4fr;
  gap: 20 px;
  margin: 20px;
  padding: 50px;

#home1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; 
  margin: 10px; 
}

#home2 {
  grid-column: 2 / 2;
  grid-row: 4 / 2; 
  margin: 10px; 
}

#home1, #home2 {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px black;
  background-color:rgb(247, 244, 244) ;
  justify-content: center;
  align-items: left;

}




h3.divhome {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
}
h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  transition: transform 0.5s ease, transform 0.5s ease-in-out;

}

h3:hover {
  transform: rotate3d(1,1,1,10deg) scale(1.1);
  transform: translateX(20px);
}

@keyframes aparecer {
  from {
    filter: blur(0.5rem) ;
  }
  to {
    filter: blur(0rem);
  }
}

@keyframes mover {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 3;
    transform: translateY(0px);
  }
}

@keyframes rotar {
  0%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(90deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

#title, #home, footer, #opciones {
  animation: aparecer 2.5s ease-in, aparecer 3.5s ease-in-out;
}

img{
  animation: rotar 4s linear infinite;
}

img:hover{
  animation: none;
}